.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary-color-30);
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo li{
    list-style: none;
    font-style: italic;
}

.logo img{
    
  width: 55px;     
  height: auto;    
  margin-right: 8px; 
  transform: rotate(90deg);
  position: absolute;
  left: 8rem;

  
 

}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navLinks a:hover {
  color: #61dafb;
  
}

